<!DOCTYPE html>
<html>
    <html lang="en"/>
    <head>
        <meta charset="utf-8"/>
        <title>Contact form</title>
    </head>
    <body>
        <div class="container">
            <h2> Contact Form </h2>
            <br><br>
            <form action="." method="post">
                 <label for="firstname"> First name:</label>
                 <input type="text" name="firstname">
                 <label for="lastname"> Last name:</label>
                 <input type="text" name="lastname"><br><br>
                 <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>



